<%= form_for(@reply) do |f| %>
    <% if @reply.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

          <ul>
            <% @reply.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%#= f.label :replydescription %>
      <%#= f.text_field :replydescription %>
      <%= label_tag 'Enter Reply ' %> <br/>
      <%= text_area_tag 'replydescription', @replydescription, rows: 3, cols: 25 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>




<% end %>
